/* Css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

/* Defaults */
body{
    background-color: #0c131b;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
body img{
    max-width: 100%;
}
.clear{
    clear: both;
}
.col-md{
    float: left;
}
.white{
    color: #fff;
}
.blue-green{
    color: #4ff7dd;
}
.light-gray{
    color: #c4cbd2;
}
.toupper{
    text-transform: uppercase
}
.tocapitalize{
    text-transform: capitalize;
}
.italic{
    font-style: italic;
}
.text-center{
    text-align: center;
}

/* Containers */
.wrap{
    max-width: 1100px;
    margin: 0 auto;
}

/* .Head */
header .wrap{
    padding: 50px 0 120px;
}
header .wrap img{
    max-width: 129px;
}


/* Video Series */
#video-series .wrap{
    padding-bottom: 120px;
    border-bottom: 1px solid #2f363e;
    margin-bottom: 80px;
}
#video-series .wrap .col-md{
    width: 50%;
}
#video-series .free{
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 55px;
}
#video-series h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
#video-series h2{
    font-size: 25px;
    letter-spacing: 1.5px;
}
#video-series img{
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}
#video-series .col-md:first-child{
    padding-right: 35px;
}

/* Results */
#results h2{
    padding-bottom: 70px;
    font-size: 40px;
}
#results .wrap .col-md{
    width: calc(30%);
    margin-right: 4%;
    border: 1px solid #2f363e;
    min-height: 473px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#results .wrap .students .col-md:last-child{
    margin-right: 0;
    border: 10px solid #fff;
}
#results .wrap .col-md img{
    margin: 0 auto 35px;
}
#results .wrap .col-md h3{
    margin-bottom: 15px;
}
#results .wrap .col-md h4{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
}
#results .wrap .col-md .details{
    text-align: left;
    line-height: 1.5;
}
#results .wrap .col-md .details p strong{
    font-weight: 700;
}
